<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetailerStockServlet</servlet-name>
        <servlet-class>controller.RetailerStockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetailerDelServlet</servlet-name>
        <servlet-class>controller.RetailerDelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CoUpdateServlet</servlet-name>
        <servlet-class>controller.CoUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StockEntryServlet</servlet-name>
        <servlet-class>controller.StockEntryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderEntryServlet</servlet-name>
        <servlet-class>controller.OrderEntryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderShowServlet</servlet-name>
        <servlet-class>controller.OrderShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeEntryServlet</servlet-name>
        <servlet-class>controller.EmployeeEntryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDeleteServlet</servlet-name>
        <servlet-class>controller.OrderDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpDeleteServlet</servlet-name>
        <servlet-class>controller.EmpDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExpenseEntryServlet</servlet-name>
        <servlet-class>controller.ExpenseEntryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CashinServlet</servlet-name>
        <servlet-class>controller.CashinServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CashoutServlet</servlet-name>
        <servlet-class>controller.CashoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanypayServlet</servlet-name>
        <servlet-class>controller.CompanypayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetailerpayServlet</servlet-name>
        <servlet-class>controller.RetailerpayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FactoryaddServlet</servlet-name>
        <servlet-class>controller.FactoryaddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FactoryDelServlet</servlet-name>
        <servlet-class>controller.FactoryDelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDeleveryServlet</servlet-name>
        <servlet-class>controller.OrderDeleveryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CostServlet</servlet-name>
        <servlet-class>controller.CostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BankaddServlet</servlet-name>
        <servlet-class>controller.BankaddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransportaddServlet</servlet-name>
        <servlet-class>controller.TransportaddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BankTranServlet</servlet-name>
        <servlet-class>controller.BankTranServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransportPayServlet</servlet-name>
        <servlet-class>controller.TransportPayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpPayServlet</servlet-name>
        <servlet-class>controller.EmpPayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpLimitServlet</servlet-name>
        <servlet-class>controller.EmpLimitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndUser_Servlet</servlet-name>
        <servlet-class>controller.EndUser_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndUserUpdate_Servlet</servlet-name>
        <servlet-class>controller.EndUserUpdate_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PropitercostServlet</servlet-name>
        <servlet-class>controller.PropitercostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StockDelServlet</servlet-name>
        <servlet-class>controller.StockDelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpcostdelServlet</servlet-name>
        <servlet-class>controller.EmpcostdelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransUpServlet</servlet-name>
        <servlet-class>controller.TransUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeliveryUpServlet</servlet-name>
        <servlet-class>controller.DeliveryUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelUpServlet</servlet-name>
        <servlet-class>controller.DelUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RtpayUpdateServlet</servlet-name>
        <servlet-class>controller.RtpayUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CostDelServlet</servlet-name>
        <servlet-class>controller.CostDelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProTrDelServlet</servlet-name>
        <servlet-class>controller.ProTrDelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BanktranDelServlet</servlet-name>
        <servlet-class>controller.BanktranDelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DebitDelServlet</servlet-name>
        <servlet-class>controller.DebitDelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreditDelServlet</servlet-name>
        <servlet-class>controller.CreditDelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnddelServlet</servlet-name>
        <servlet-class>controller.EnddelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rtler_commiServlet</servlet-name>
        <servlet-class>controller.Rtler_commiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fac_commiServlet</servlet-name>
        <servlet-class>controller.Fac_commiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacComUpServlet</servlet-name>
        <servlet-class>controller.FacComUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirectDeleveryServlet</servlet-name>
        <servlet-class>controller.DirectDeleveryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccIDPassUpServlet</servlet-name>
        <servlet-class>controller.AccIDPassUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpIdUpServlet</servlet-name>
        <servlet-class>controller.EmpIdUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeliveryDelServlet</servlet-name>
        <servlet-class>controller.DeliveryDelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TportSelectServlet</servlet-name>
        <servlet-class>controller.TportSelectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RtpSelectServlet</servlet-name>
        <servlet-class>controller.RtpSelectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FcpSelectServlet</servlet-name>
        <servlet-class>controller.FcpSelectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FcpayUpdateServlet</servlet-name>
        <servlet-class>controller.FcpayUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetPayDelServlet</servlet-name>
        <servlet-class>controller.RetPayDelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacPayDelServlet</servlet-name>
        <servlet-class>controller.FacPayDelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacComDelServlet</servlet-name>
        <servlet-class>controller.FacComDelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacLegUpServlet</servlet-name>
        <servlet-class>controller.FacLegUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacLedgUpSuccess</servlet-name>
        <servlet-class>controller.FacLedgUpSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacStockDelServlet</servlet-name>
        <servlet-class>controller.FacStockDelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>datewise_sr_change</servlet-name>
        <servlet-class>controller.datewise_sr_change</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetailerStockServlet</servlet-name>
        <url-pattern>/RetailerStockServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetailerDelServlet</servlet-name>
        <url-pattern>/RetailerDelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CoUpdateServlet</servlet-name>
        <url-pattern>/CoUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockEntryServlet</servlet-name>
        <url-pattern>/StockEntryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderEntryServlet</servlet-name>
        <url-pattern>/OrderEntryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderShowServlet</servlet-name>
        <url-pattern>/OrderShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeEntryServlet</servlet-name>
        <url-pattern>/EmployeeEntryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDeleteServlet</servlet-name>
        <url-pattern>/OrderDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpDeleteServlet</servlet-name>
        <url-pattern>/EmpDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExpenseEntryServlet</servlet-name>
        <url-pattern>/ExpenseEntryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CashinServlet</servlet-name>
        <url-pattern>/CashinServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CashoutServlet</servlet-name>
        <url-pattern>/CashoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanypayServlet</servlet-name>
        <url-pattern>/CompanypayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetailerpayServlet</servlet-name>
        <url-pattern>/RetailerpayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FactoryaddServlet</servlet-name>
        <url-pattern>/FactoryaddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FactoryDelServlet</servlet-name>
        <url-pattern>/FactoryDelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDeleveryServlet</servlet-name>
        <url-pattern>/OrderDeleveryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CostServlet</servlet-name>
        <url-pattern>/CostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BankaddServlet</servlet-name>
        <url-pattern>/BankaddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransportaddServlet</servlet-name>
        <url-pattern>/TransportaddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BankTranServlet</servlet-name>
        <url-pattern>/BankTranServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransportPayServlet</servlet-name>
        <url-pattern>/TransportPayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpPayServlet</servlet-name>
        <url-pattern>/EmpPayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpLimitServlet</servlet-name>
        <url-pattern>/EmpLimitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndUser_Servlet</servlet-name>
        <url-pattern>/EndUser_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndUserUpdate_Servlet</servlet-name>
        <url-pattern>/EndUserUpdate_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PropitercostServlet</servlet-name>
        <url-pattern>/PropitercostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockDelServlet</servlet-name>
        <url-pattern>/StockDelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpcostdelServlet</servlet-name>
        <url-pattern>/EmpcostdelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransUpServlet</servlet-name>
        <url-pattern>/TransUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliveryUpServlet</servlet-name>
        <url-pattern>/DeliveryUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelUpServlet</servlet-name>
        <url-pattern>/DelUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RtpayUpdateServlet</servlet-name>
        <url-pattern>/RtpayUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CostDelServlet</servlet-name>
        <url-pattern>/CostDelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProTrDelServlet</servlet-name>
        <url-pattern>/ProTrDelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BanktranDelServlet</servlet-name>
        <url-pattern>/BanktranDelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DebitDelServlet</servlet-name>
        <url-pattern>/DebitDelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreditDelServlet</servlet-name>
        <url-pattern>/CreditDelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnddelServlet</servlet-name>
        <url-pattern>/EnddelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rtler_commiServlet</servlet-name>
        <url-pattern>/Rtler_commiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fac_commiServlet</servlet-name>
        <url-pattern>/Fac_commiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacComUpServlet</servlet-name>
        <url-pattern>/FacComUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirectDeleveryServlet</servlet-name>
        <url-pattern>/DirectDeleveryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccIDPassUpServlet</servlet-name>
        <url-pattern>/AccIDPassUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpIdUpServlet</servlet-name>
        <url-pattern>/EmpIdUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliveryDelServlet</servlet-name>
        <url-pattern>/DeliveryDelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TportSelectServlet</servlet-name>
        <url-pattern>/TportSelectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RtpSelectServlet</servlet-name>
        <url-pattern>/RtpSelectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FcpSelectServlet</servlet-name>
        <url-pattern>/FcpSelectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FcpayUpdateServlet</servlet-name>
        <url-pattern>/FcpayUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetPayDelServlet</servlet-name>
        <url-pattern>/RetPayDelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacPayDelServlet</servlet-name>
        <url-pattern>/FacPayDelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacComDelServlet</servlet-name>
        <url-pattern>/FacComDelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacLegUpServlet</servlet-name>
        <url-pattern>/FacLegUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacLedgUpSuccess</servlet-name>
        <url-pattern>/FacLedgUpSuccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacStockDelServlet</servlet-name>
        <url-pattern>/FacStockDelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>datewise_sr_change</servlet-name>
        <url-pattern>/datewise_sr_change</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            200
        </session-timeout>
    </session-config>
</web-app>
